@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center whiteTextWithShadow">
    <h1>Battery Charge</h1>
    <hr />
</div>

<div class="row text-center">
    <div class="col-md-12">
        <div class="lightBluePanel m-2">
            <h3>Welcome to Battery Charge!</h3>
            <h5><i>Improve your storage of devices with a battery now!</i></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="lightBluePanel m-2">
            <h3>The Problem We Solve</h3>
            <hr class="dGreenColor" />
            <h5><i>Did you know that batteries will slowly drain over time? And that a battery left empty for to long will lower its overall lifespan.</i></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="lightBluePanel m-2">
            <h3>What We Provide</h3>
            <hr class="dGreenColor" />
            <h5><i>We provided a quick and easy way to track when old devices need to be recharged.</i></h5>
        </div>
    </div>
    <div class="col-md-4">
        <div class="lightBluePanel m-2">
            <h3>How To Use</h3>
            <hr class="dGreenColor" />
            <h5><i>First you make an account. Then you add devices in the Devices page. Finally you can manage charges in the ChargeTime page.</i></h5>
        </div>
    </div>
</div>




