@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center" style="background-color:#00cca3; color:white;border-radius: 10px">
    <h1 class="display-4" style="padding:5px">Battery Charge</h1>
</div>

<div class="container text-center" style="background-color:#ecf2f9; color:black;border-radius: 3px">
    <h3>Welcome to Battery Charge!</h3>
    <h5>Have you ever stored a devices with a battery for a long time only to find that the battery has completly died?</h5>
    <h5>That is what we try to help with.</h5>
    <h3>The Problem we will solve</h3>
    <h5>Did you know that all battery will slowly drain over time? And that a battery that is left emply for far to long will lower its overall lifespan.</h5>
    <h3>What we do for you</h3>
    <h5>In our website we provide a quick and easy way to track when you need to recharge old devices to maintain a battery for a longer period of time.</h5>
    <h3>How to use our webiste</h3>
    <h5>To use our website you will need to make an account. After that just go to the devices page and add devices. More info soon...</h5>
</div>


